<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Buttons Example</title>
</head>
<body>
    <h1>Choose Encryption</h1>
    <form action="/process" method="post">
        <button type="submit" name="action" value="action1">RSA Key Generation</button>
        <button type="submit" name="action" value="action2">Openssl File Encryption</button>
        <button type="submit" name="action" value="action3">Openssl File Decryption</button>
    </form>
</body>
</html>
